.category{
    width: 400px;
    height: 600px;
    background-color: red;
    margin: 5px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.all-category{
    width: 80%;
    height: 50px;
    background-color: blue;
    margin: 10px;
    border-radius: 15px;


}
.price-filter{
    height: 50px;
    width: 80%;
    background-color: blue;
    margin: 10px;
    border-radius: 15px;
}

.custom-category{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}
